{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/mystyle.css">
{% endblock %}

{% block navbar %}
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <a href="/static/blogpost.html">Blog</a>
  <a href="https://github.com/longyyu/friends-search-engine">Github Repository</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
{% endblock %}

{% block content %}
  {{super()}}

  {% block pagecontent %}
  {% endblock %}

  {% block footer %}
  <br>
  <div class="footer">
    &copy; Copyright 2020 by Yanyu Long
  </div>
  {% endblock %}
{% endblock %}

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
