{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Search FRIENDS quotes {% endblock %}

{% block content %}
  <div class="container" style="margin: auto; text-align: center; padding: 100px 0;">
    <h1>
      Search <img src="/static/FriendsLogo.png" alt="FRIENDS"> quotes
    </h1>
    <br>
    <p>
      {{ wtf.quick_form(form, form_type="inline", 
        button_map={'search_button': 'primary'}
      ) }}
    </p>
  </div>
{% endblock %}
